h1{
    font-size: 50px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

ul{
    background-color: rgb(158, 190, 158);
}

.backgroundcolor{
    background-color: gray;
}

p{
    font-weight: bold;
    font-size: 3em;
}

body{
    font-size: 16px;
}

#list-blue{
    background-color: blue;
}

#list-red{
    background-color: red;
}

#list-green{
    background-color: green;
}